body {
  font-family: sans-serif;
  color: #2e2f42;
}

main:has(.back-link) {
  text-align: start !important;
}

#datetime-picker {
  margin-top: 36px;
  margin-bottom: 32px;
  width: 272px;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #808080;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

#datetime-picker:hover,
#datetime-picker:focus {
  border-color: #000000;
}

#datetime-picker:active {
  border: #4e75ff;
}

#datetime-picker:disabled {
  background: #fafafa;
  pointer-events: none;
}

.start-btn {
  width: 75px;
  border-radius: 8px;
  padding: 8px 16px;
  min-height: 40px;
  border: none;
  background: #4e75ff;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.start-btn:disabled {
  pointer-events: none;
  background: #c3cfe2;
  color: #989898;
  font-weight: 500;
}

.start-btn:hover {
  background: #6c8cff;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

.label {
}
